.stepspage {
    min-height: 100vh;
    height: 100%;
}

.stepsprogressline {
    height: 10px;
    width: 100%;
    background: #E1E1E1;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 16.6%;
        background: #FF6200;
        border-radius: 0 5px 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;
    }

    &.prline2::after {
        width: 33.2%;
    }

    &.prline3::after {
        width: 49.8%;
    }

    &.prline4::after {
        width: 66.4%;
    }

    &.prline5::after {
        width: 83%;
    }

    &.prline6::after {
        width: 100%;
        border-radius: 0;
    }
}

.stepspage__header {
    max-width: 1440px;
    padding: 0 60px;
    padding-top: 70px;
    margin: 0 auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .pagenum {
        margin-bottom: 0;
        color: #000;
        letter-spacing: -0.0024em;
        font-size: 17px;
        line-height: 20px;
        font-weight: 500;
    }
}

.stepspage__body {
    padding-bottom: 100px;
}

.stepsection {
    padding-top: 70px;
    max-width: 934px;
    margin: 0 auto;

    &.twocol {
        max-width: 934px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .leftsect {
            width: 100%;
            max-width: 340px;
            flex: 0 0 340px;
        }

        .rightsect {
            width: 100%;
            max-width: 510px;
            flex: 0 0 510px;
        }
    }

    .nextbtn {
        margin-top: 40px;
        display: inline-flex;
        background: #C1420B;
        border-radius: 10px;
        width: 200px;
        min-height: 44px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3px 5px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        transition: 0.3s;

        &.disabled {
            background: #8E8E93;
            pointer-events: none;
        }

        &:hover {
            background: #ff7300;
        }
    }
}

.includesbox {
    width: 100%;
    background: #fff;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 50px 50px 80px;
    margin-top: 20px;
    margin-top: 60px;

    .title {
        margin-bottom: 50px;
        color: #000;
        letter-spacing: -0.0024em;
        font-size: 21px;
        line-height: 20px;
        font-family: Avenir heavy;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 16px;
            line-height: 20px;
            padding-left: 32px;

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 14px;
                background: url('../img/check-orange.svg') no-repeat center/100%;
                position: absolute;
                left: 0;
                top: 2px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.steps__content {
    .title {
        margin-bottom: 40px;
        color: #000;
        letter-spacing: -0.0024em;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    .steps__checkboxfield {
        margin-bottom: 20px;

        label {
            background: #fff;
            border-radius: 8px;
            border: 1px solid #AEAEB2;
            padding: 16px 54px 16px 24px;
            width: 100%;
            display: block;
            margin: 0;
            position: relative;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: #F9F9F9;
            }

            &:active,
            &:focus {
                background: #F1F1F1;
            }

            .checktitle {
                color: #1C1C1E;
                letter-spacing: -0.0024em;
                font-size: 18px;
                line-height: 20px;
                font-family: Avenir book;
                margin-bottom: 0;
            }

            .checkdescr {
                margin-top: 6px;
                margin-bottom: 0;
                font-family: Avenir book;
                color: #1C1C1E;
                letter-spacing: -0.0024em;
                font-size: 14px;
                line-height: 20px;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border: 1px solid #1C1C1E;
                border-radius: 4px;
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        input {
            display: none;

            &:checked+label {
                border: 1px solid #FF6200;

                &::after {
                    background-color: #FF6200;
                    border: 1px solid #FF6200;
                    background-image: url('../img/check-white.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &.nocheck {
            label {
                &::after {
                    display: none;
                }
            }
        }
    }

    .steps__textarea {
        margin-top: 24px;

        .title {
            margin-bottom: 12px;
            color: #1C1C1E;
            font-size: 16px;
            line-height: 22px;
            font-family: Avenir-Medium;
        }

        textarea {
            width: 100%;
            resize: none;
            border: 1px solid #AEAEB2;
            border-radius: 8px;
            height: 86px;
            padding: 20px 24px;
            color: #1C1C1E;
            font-size: 16px;
            line-height: 22px;
            font-family: Avenir book;
            outline: none;
            transition: 0.3s;
            display: block;

            &:hover {
                background: #F9F9F9;
            }

            &:focus {
                background: #FFFFFF;
                border: 1px solid #FF6200;
            }

            &::placeholder {
                color: #8E8E93;
            }
        }
    }
}

.stepsection__inptswrap {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;

    .title {
        margin-bottom: 50px;
        color: #000;
        letter-spacing: -0.0024em;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    .radiofields {
        .radiofieldbox {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            input {
                display: none;

                &:checked+label {
                    border: 1px solid #FF6200;
                }
            }

            label {
                margin: 0;
                display: block;
                padding: 20px;
                background: #fff;
                border: 1px solid #AEAEB2;
                border-radius: 8px;
                transition: 0.3s;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    background: #F9F9F9;
                }

                &:active,
                &:focus {
                    background: #F1F1F1;
                }
            }
        }
    }
}

.calendarsection {
    display: none;
    padding: 40px 0 0 0;

    .title {
        margin-bottom: 30px;
    }

    .calendarfield {
        position: relative;

        label.calicon {
            display: inline-flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        label.calplaceholder {
            position: absolute;
            left: 12px;
            top: 17px;
            color: #636363;
            font-size: 18px;
            font-family: Avenir book;
            transition: 0.3s;

            &.freeze {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                top: 8px;
            }
        }
    }

    input {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        border: 1px solid #AEAEB2;
        height: 60px;
        padding-left: 12px;
        padding-right: 50px;
        color: #000;
        font-size: 18px;
        font-family: Avenir book;
        outline: none;
        transition: 0.3s;

        &::placeholder {
            color: #636363;
        }

        &:focus {
            border: 1px solid #FF6200;
            padding-top: 14px;

            &+label.calplaceholder {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                top: 8px;
            }
        }

        &.actinput {
            padding-top: 14px;
        }
    }
}

.inputfields {
    .inputfield {
        position: relative;
        margin-bottom: 20px;

        input {
            outline: none;
            width: 100%;
            border-radius: 8px;
            border: 1px solid #AEAEB2;
            background: #fff;
            padding-left: 12px;
            height: 58px;
            color: #1C1C1E;
            font-family: Avenir book;
            font-size: 18px;
            transition: 0.3s;

            &:focus {
                border: 1px solid #FF6200;
                padding-top: 14px;

                &+label {
                    font-size: 12px;
                    line-height: 16px;
                    top: 8px;
                }
            }

            &.actinput {
                padding-top: 14px;
            }
        }

        label {
            position: absolute;
            top: 17px;
            left: 12px;
            color: #636363;
            font-size: 18px;
            line-height: 25px;
            font-family: Avenir book;
            transition: 0.3s;

            &.freeze {
                font-size: 12px;
                line-height: 16px;
                top: 8px;
            }
        }
    }
}

.stepsection.twocol.step6 {
    max-width: 1006px;

    .congratulations__topsect {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 60px;
        text-align: center;

        .congratulations__title {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            color: #515151;
        }

        .congratulations__descr {
            margin-bottom: 0;
        }
    }

    .leftsect {
        width: 100%;
        max-width: 390px;
        flex: 0 0 390px;
    }

    .rightsect {
        width: 100%;
        max-width: 556px;
        flex: 0 0 556px;
    }

}

.estimatedprice {
    background: #fff;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 40px 100px 78px;
    min-height: 100%;

    .subtitle {
        color: #1C1C1E;
        margin-bottom: 10px;
        letter-spacing: -0.0024em;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .title {
        color: #1C1C1E;
        letter-spacing: -0.0024em;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 30px;

        span {
            font-size: 16px;
            line-height: 20px
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 20px;
            color: #515151;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            position: relative;
            padding-left: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 14px;
                background: url('../img/check-orange.svg') no-repeat center / 100%;
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }
}

.whatnextsect {
    background: #fff;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 70px 35px 50px;
    margin-bottom: 40px;

    .title {
        margin-bottom: 40px;
        color: #000;
        letter-spacing: -0.0024em;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .descr {
        p {
            margin-bottom: 16px;
            color: #1C1C1E;
            font-size: 18px;
            line-height: 25px;
            font-family: Avenir book;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #C1420B;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    text-decoration: underline;
                    color: #ff6200;
                }
            }
        }
    }
}

.emailtheprice {
    background: #fff;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px 40px 50px 40px;
    min-height: 193px;

    .title {
        color: #000;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    .emailtheprice__wrap {
        display: flex;
        align-items: center;

        .emailtheprice__sharebox {
            width: 100%;
            max-width: calc(100% - 66px);
            flex: 0 0 calc(100% - 66px);
            padding-right: 14px;
            position: relative;

            input {
                width: 100%;
                height: 58px;
                background: #fff;
                border: 1px solid #AEAEB2;
                border-radius: 8px;
                outline: none;
                padding-left: 12px;
                color: #000;
                font-size: 18px;
                font-family: Avenir book;
                transition: 0.3s;

                &:focus {
                    padding-top: 14px;
                    border: 1px solid #FF6200;

                    &+label {
                        font-size: 12px;
                        line-height: 16px;
                        top: 8px;
                    }
                }

                &.actinput {
                    padding-top: 14px;
                }
            }

            label {
                position: absolute;
                left: 12px;
                top: 17px;
                color: #636363;
                font-size: 18px;
                transition: 0.3s;
                font-family: Avenir book;

                &.freeze {
                    font-size: 12px;
                    line-height: 16px;
                    top: 8px;
                }
            }

            .success-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #FF6200;
                position: absolute;
                top: calc(100% + 4px);
                display: none;
                margin: 0;
            }

            .error-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: red;
                position: absolute;
                top: calc(100% + 4px);
                display: none;
                margin: 0;
            }
        }

        a,
        button {
            width: 100%;
            max-width: 66px;
            flex: 0 0 66px;
            text-decoration: none;
            color: #C1420B;
            text-align: center;
            font-size: 18px;
            line-height: 25px;
            font-family: Avenir book;
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.inputfields .inputfield:last-child {
    margin-bottom: 0;
}

.stepsection.hide {
    display: none;
}

.congratulations__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.emailtheprice .emailtheprice__wrap .emailtheprice__sharebox input.error {
    border: 1px solid #FF3B30;
}



















@media(max-width:1199.8px) {
    .stepsection.twocol.step6 {
        max-width: 934px;

        .leftsect {
            max-width: 350px;
            flex: 0 0 350px;

            .estimatedprice {
                padding: 40px 50px 35px 40px;
            }
        }

        .rightsect {
            max-width: 540px;
            flex: 0 0 540px;

            .whatnextsect {
                padding: 40px 50px 35px 40px;
            }
        }
    }

    .stepsection.twocol.step6 .congratulations__topsect .congratulations__title {
        font-size: 36px;
    }

    .stepsection.twocol.step6 .congratulations__topsect {
        margin-bottom: 40px;
    }
}

@media(max-width: 991.8px) {

    .stepspage__header {
        padding: 0;
        max-width: 700px;
        padding-top: 50px;
    }

    .stepsection.twocol.step6 {
        max-width: 700px;
    }

    .stepsection.twocol,
    .stepsection {
        max-width: 700px;

        .leftsect {
            max-width: 275px;
            flex: 0 0 275px;
        }

        .rightsect {
            max-width: calc(100% - 315px);
            flex: 0 0 calc(100% - 315px);
        }
    }

    .includesbox {
        padding: 30px 30px 40px;
        margin-top: 43px;

        .title {
            margin-bottom: 30px;
            font-size: 18px;
        }

        ul {
            li {
                padding-left: 24px;
                font-size: 15px;
                margin-bottom: 15px;

                &::after {
                    width: 16px;
                    top: 3px;
                }
            }
        }
    }

    .steps__content {
        .title {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }

    .steps__content .steps__checkboxfield label {
        padding: 13px 50px 13px 20px;

        &:after {
            width: 20px;
            height: 20px;
            right: 20px;
        }

        .checktitle {
            font-size: 16px;
        }

        .checkdescr {
            margin-top: 3px;
        }
    }

    .steps__content .steps__textarea textarea {
        padding: 10px 15px 10px 20px;
    }

    .stepsection.twocol.step6 .leftsect {
        max-width: 275px;
        flex: 0 0 275px;
    }

    .stepsection.twocol.step6 .rightsect {
        max-width: calc(100% - 315px);
        flex: 0 0 calc(100% - 315px);
    }

    .stepsection.twocol.step6 .leftsect .estimatedprice {
        padding: 30px 30px 40px;
    }

    .estimatedprice .title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    .estimatedprice ul li {
        margin-bottom: 15px;
    }

    .stepsection.twocol.step6 .rightsect .whatnextsect {
        padding: 30px;
    }

    .whatnextsect .title {
        margin-bottom: 30px;
    }

    .whatnextsect .descr p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .emailtheprice {
        padding: 30px;
        min-height: initial;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox label,
    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox input {
        font-size: 16px;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox label {
        top: 19px;
    }

    .whatnextsect {
        margin-bottom: 25px;
    }

    .congratulations__descr {
        font-size: 21px;
    }

    .stepsection.twocol.step6 .congratulations__topsect .congratulations__title {
        margin-bottom: 10px;
    }

    .includesbox {
        margin-top: 63px;
    }




}

@media(max-width: 767.8px) {

    .stepspage__header {
        padding: 50px 15px 0 15px;
    }

    .stepsection.twocol,
    .stepsection {
        padding-left: 15px;
        padding-right: 15px;
    }

    .stepspage__header .pagenum {
        font-size: 16px;
    }

    .stepsection.twocol .leftsect {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .stepsection.twocol .rightsect {
        max-width: calc(100% - 240px);
        flex: 0 0 calc(100% - 240px);
    }

    .includesbox .title {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .includesbox ul li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .includesbox {
        padding: 20px 20px 25px;
        margin-top: 43px;
    }

    .steps__content .title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .includesbox {
        margin-top: 58px;
    }

    .stepspage__header {
        padding-top: 40px;

        a>img {
            max-width: 120px;
        }
    }

    .stepsection {
        padding-top: 50px;
    }

    .steps__content .steps__textarea .title {
        margin-bottom: 8px;
    }

    .stepspage__body {
        padding-bottom: 70px;
    }

    .steps__content .steps__checkboxfield {
        margin-bottom: 15px;
    }

    .stepsection.twocol.step6 .leftsect {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .stepsection.twocol.step6 .rightsect {
        max-width: calc(100% - 240px);
        flex: 0 0 calc(100% - 240px);
    }

    .stepsection.twocol.step6 .leftsect .estimatedprice {
        padding: 20px 20px 25px;
    }

    .estimatedprice .subtitle {
        font-size: 14px;
    }

    .estimatedprice .title {
        font-size: 28px;
    }

    .estimatedprice ul li {
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 24px;
    }

    .estimatedprice ul li:after {
        width: 16px;
    }

    .estimatedprice ul li:after {
        top: 3px;
    }

    .estimatedprice .title {
        margin-bottom: 20px;
    }

    .stepsection.twocol.step6 .rightsect .whatnextsect {
        padding: 25px;
    }

    .emailtheprice .emailtheprice__wrap {
        flex-wrap: wrap;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    .congratulations__descr {
        font-size: 18px;
    }

    .steps__content .steps__checkboxfield label,
    .includesbox,
    .steps__content .steps__textarea textarea,
    .stepsection__inptswrap .radiofields .radiofieldbox label,
    .inputfields .inputfield input,
    .estimatedprice,
    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox input {
        border-radius: 5px;
    }

    .stepsection .nextbtn {
        border-radius: 5px;
    }

    .includesbox {
        margin-top: 40px;
    }
}

@media(max-width: 575.8px) {

    .stepsection.twocol .leftsect,
    .stepsection.twocol .rightsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .stepsection {
        padding-top: 40px;
    }

    .includesbox {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .stepspage__header .pagenum {
        font-size: 15px;
    }

    .steps__content .title {
        font-size: 18px;
    }

    .steps__content .steps__checkboxfield label .checktitle {
        font-size: 18px;
    }

    .steps__content .steps__checkboxfield {
        margin-bottom: 15px;
    }

    .steps__content .steps__checkboxfield label:after {
        right: 15px;
    }

    .steps__content .steps__checkboxfield label {
        padding: 15px 45px 15px 20px;
    }

    .steps__content .steps__textarea textarea {
        padding-left: 15px;
    }

    .stepsection .nextbtn {
        margin-top: 30px;
    }

    .stepsection.twocol,
    .stepsection,
    .stepspage__header {
        max-width: 460px;
    }

    .stepspage__header .pagenum {
        padding-bottom: 5px;
    }

    .stepsection__inptswrap .title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .stepsection__inptswrap .radiofields .radiofieldbox {
        margin-bottom: 15px;
    }

    .stepsection__inptswrap .radiofields .radiofieldbox label {
        padding: 15px;
    }

    .stepsection__inptswrap .radiofields .radiofieldbox label {
        font-size: 16px;
    }

    .inputfields .inputfield label {
        font-size: 16px;
        top: 13px;
    }

    .inputfields .inputfield input {
        font-size: 16px;
        height: 52px;
    }

    .inputfields .inputfield {
        margin-bottom: 15px;
    }

    .stepsection.twocol.step6 .leftsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .estimatedprice .subtitle {
        font-size: 15px;
    }

    .estimatedprice .title {
        font-size: 32px;
    }

    .estimatedprice .title {
        margin-bottom: 15px;
    }

    .stepsection.twocol.step6 .leftsect {
        margin-bottom: 20px;
    }

    .stepsection.twocol.step6 .congratulations__topsect .congratulations__title {
        font-size: 30px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    .stepsection.twocol.step6 .congratulations__topsect .congratulations__title {
        font-size: 28px;
    }

    .congratulations__descr {
        font-size: 15px;
        line-height: 140%;
    }

    .stepsection.twocol.step6 .congratulations__topsect {
        margin-bottom: 30px;
    }

    .stepsection.twocol.step6 .rightsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .whatnextsect .title {
        font-size: 21px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .emailtheprice {
        padding: 20px;
    }

    .emailtheprice .title {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox {
        padding-right: 0;
    }

    .emailtheprice .emailtheprice__wrap button {
        margin: 20px auto 0;
    }

    .stepspage__body {
        padding-bottom: 50px;
    }


    .stepsection.twocol.step6 .rightsect .whatnextsect {
        margin-bottom: 20px;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox input {
        height: 52px;
    }

    .emailtheprice .emailtheprice__wrap .emailtheprice__sharebox label {
        top: 16px;
    }

    .whatnextsect .descr p a {
        display: inline-block;
    }
}

@media(max-width:360.8px) {
    .steps__content .steps__checkboxfield label .checktitle {
        font-size: 16px;
    }

    .stepsection__inptswrap .radiofields .radiofieldbox label {
        font-size: 15px;
    }
}